<h2 style="margin-top:16px;margin-left:20px">Add Product</h2>
<div class="sleek-box">
    <form class="row g-3">
        <div class="col-12">
            <label for="inputAddress" class="form-label">What are you selling?</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="clothes, masks, handicraft">
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Description</label>
            <textarea  class="form-control" id="inputAddress" placeholder="Tell us more about your product"></textarea>
          </div>
          <div class="col-md-3">
            <label for="inputState" class="form-label">Category</label>
            <select id="inputState" class="form-select">
              <option selected>Clothing</option>
              <option>...</option>
            </select>
          </div>
        <div class="col-md-3">
          <label for="inputEmail4" class="form-label">Price</label>
          <input type="email" class="form-control" id="price">
        </div>
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Quantity</label>
            <input type="email" class="form-control" id="mobile-number">
          </div>
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Mobile Number</label>
            <input type="email" class="form-control" id="mobile-number">
          </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Upload product image</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Product</button>
        </div>
      </form>
</div>