<h2 style="margin-top:16px;margin-left:20px">Request for donation</h2>
<div class="sleek-box">
    <form class="row g-3">
        <div class="col-12">
            <label for="inputAddress" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputAddress">
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Cause</label>
            <textarea  class="form-control" id="inputAddress" placeholder="E.g. Kerala Floods"></textarea>
          </div>
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="mobile-number">
          </div>
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Mobile Number</label>
            <input type="email" class="form-control" id="mobile-number">
          </div>
          <div class="col-md-3">
            <label for="inputState" class="form-label">Choose Payment Option</label>
            <select id="inputState" class="form-select">
              <option selected>UPI</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="inputEmail4" class="form-label">UPI Id</label>
            <input type="email" class="form-control" id="mobile-number">
          </div>
          <div class="col-12">
            <label for="inputEmail4" class="form-label">Address</label>
            <input type="email" class="form-control" id="mobile-number">
          </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Upload Identity (E.g. Adhar Card)</label>
            <input class="form-control" type="file" id="formFile">
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Upload Images(optional)</label>
            <input class="form-control" type="file" id="formFile">
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</div>